language: objective-c
osx_image: xcode10.2
cache: cocoapods

script:
  - pod update --project-directory=ChatSecurePushExample
  - travis_retry xcodebuild -workspace ChatSecurePushExample/ChatSecurePushExample.xcworkspace -scheme ChatSecurePushExample -sdk iphonesimulator -destination "OS=12.2,name=iPhone 8 Plus" test | xcpretty -c
  - pod lib lint --allow-warnings